:root {
    --title-text-color: rgba(33, 33, 33, 1);
    --pargraf-text-color: rgba(117, 117, 117, 1);
    --dark-background: rgba(47, 48, 58, 1);
    --white: rgba(255, 255, 255, 1);
    --blue: rgba(33, 150, 243, 1);

}

body {
    background-color: var(--white);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.2;

    max-width: 1600px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    margin-left:auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    outline: 2px solid tomato;
}
  
.nav-container {
    display: flex;
    align-items: center;

}

.nav-container-right {
    margin-left: auto;
    align-items: center;
}

.studio {
    margin-right: 93px;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    
    
   
}

/* цвет кнопки гпавной при ховере 188CE8 */

button:hover,
button:focus {
    color: var(--white);
    background-color: var(--blue);
}

body a {
    text-decoration: none;
}


.logo {
    color: var(--blue);
    font-size: 26px;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.logo-black {
    color: rgba(0, 0, 0, 1);
    margin-right: 93px;
}

.site-nav {
    margin: 0;
    padding: 0;
}

.site-nav-container li {
    margin-right: 50px;
}

.site-nav a {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

/* виділяємо поточну сторінку(студіо, портфоліо, контакти) */
.site-nav a.current {
    color: var(--blue);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--blue);
}

.site-nav-contacts a {
    color: var(--pargraf-text-color);
}

.site-nav-contacts li {
    margin-left: 50px;
}

.title-section {
    color: var(--white);
    background-color: var(--dark-background);
    text-align: center;
    outline: 2px solid aqua;

    padding-top: 197px;
    padding-bottom: 203px;
}


/* зробили всі літери великими text-transform: uppercase; */
.text-big-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
   
}

.button-title {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    margin-top: 30px;
    border: none;
    padding: 10px 26px;
}

.button-title:hover,
.button-title:focus {
    background-color: rgba(24, 140, 232, 1);
}

/* убираем маркеры в списках */
ul {
    list-style: none;
}

.benefits {
    font-size: 14px;
    outline: 2px solid aqua;
    margin-top: 91px;
}


.benefits h3 {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 0;
}

.benefits p {
    color: var(--pargraf-text-color);
    font-weight: 400;
    line-height: 1.71;

    margin-top: 10px;
    margin-bottom: 0;
}


.datails {
    margin-top: 0;
    margin-bottom: 0;
}

.our-works {
    margin-top: 94px;
    outline: 2px solid aqua;
}

.our-works ul {
    margin-top: 50px;
    margin-bottom: 0;
}


.our-works h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-title h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

.team-title {
    margin-top: 94px;
    padding-top: 94px;
    padding-bottom: 94px;
    outline: 2px solid aqua;
    background-color: rgba(245, 244, 250, 1);
}

.team-title ul {
    margin-top: 50px;
    margin-bottom: 0;
}

.team {
    text-align: center;
    background-color: var(--white);
    font-size: 16px;
    line-height: 1.19;
}

.team h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-text-color);
}

.team p {
    color: var(--pargraf-text-color);
    font-weight: 400;
}


footer {
    background-color: var(--dark-background);
    color: var(--white);
    outline: 2px solid aqua;

    padding-top: 60px;
    padding-bottom: 60px;
}

address {
    margin-top: 20px;
}

.logo-white {
    color: var(--white);
}

footer a {
    color: var(--white);
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.foorer-mail,
.foorer-phone {
    color: rgba(255, 255, 255, 0.6);
}


.portfolio-buttons{
    margin-top: 94px;
}


.portfolio h2 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.portfolio p {
    color: var(--pargraf-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.portfolio {
    margin-top: 34px;
    margin-bottom: 94px;
}

.portfolio ul {
    margin-bottom: 0;
}
.under-foto {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

.container-portfolio-buttons {
    margin-left: 512px;
    margin-right: 513px;
    width: 575px;
    outline: 2px solid tomato;
              
}

.list-buttons {
    display: flex;
    flex-direction: column(row)
    padding-left: 0;
    margin-left: -8px;
    
    
}

.list-buttons >.item-button {
    flex-basis: content;
    width: 38px;
    margin-left: 8px;
    background-color: rgba(245, 244, 250, 1);
    /* justify-content: space-between ; - можна вписувати замість flex-basis: content; щоб розподілити текст*/
    
}

    

/* ФОТО: ставимо елементи списку в строку (display: flex;) і робими перенос фото по строкам ( flex-wrap: wrap;)*/
.card-set { 
    display: flex;
    flex-wrap: wrap;
    
}
.card-set> .item{
    margin-top: 30px;
    margin-left: 30px;
   
}


/*
.portfolio ul {
   
    flex-flow: row wrap;
    width: 1170px;
    height: 1360px;
}
*